body{
    margin: 0;
    font-family: Montserrat;
    box-sizing: border-box;
    background-color: rgb(70, 152, 146);
    color: #fff
}

/* NAV */
.nav{
    background-color: white;
    display: flex;
    justify-content: center;
    padding-right: 40px;
    flex-wrap: wrap;
    padding: 6px 20px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0 30px #0007;
    z-index: 10;
}

.nav__ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: rgb(70, 152, 146);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s, border-radius 0.3s, outline 0.3s, outline-offset 0.3s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}

.nav__link:hover{
    background-color: hsla(176, 37%, 44%, 0.376);
    border-radius: 20px;
    outline: 2px solid rgb(0, 132, 255);
    outline-offset: -8px;
}

.nav__logo{
    width: 55px;
    border-radius: 50%;
}

.nav__logocontainer{
    flex-grow: 0.05;
    text-align: center;
}

.nav__ulcontainer{
    flex-grow: 1;
    text-align: center;
}

/* HEADER */

h1{
    text-align: center;
    font-size: 45px;
    color: white;
    display: block;
    position: relative;
    font-style: italic;
    box-sizing: border-box;
    
}

h1::after, h1::before{
    content: "";
    position: absolute;
    width: 140px;
    height: 4px;
    background-color: aqua;
    margin-top: 0.6em;
    
}

h1::before{
    margin-left: -140px;
}

img{
    width: 300px;
}


.item_productos{
    width: 300px;
    height: 400px;
    background-color: aqua;
    margin: 16px;
    display: inline-block;
}


p{
    font-size: 20px;
    white-space: pre-wrap;
}