body{
    margin: 0;
    font-family: Montserrat;
    box-sizing: border-box;
    background-color: rgb(70, 152, 146);
    color: #fff
}

body, div, header, ul, nav, img, h1, h2{
    box-sizing: border-box;
}

/* -- HEADER -- */

.header{
    height: 100vh;
    box-sizing: border-box;
    background-image: url("fondo2.jpg");
    background-size: cover;
    display: flex;
}

.header__overlay{
    height: 100vh;
    width: 100%;
    background-color: hsla(176, 37%, 44%, 0.376);
    position: absolute;
    z-index: 1;
}

.header__item-container{
    z-index: 10;
    position: relative;
    margin: auto;
    text-align: center;
    max-width: 600px;
}

.header__item-container p{
    text-wrap: pretty;
    font-size: 20px;
}

.header__img {
    border: 6px solid #fff;
    min-width: 200px;
    max-width: 40%;
    border-radius: 50%;
    margin: 20px;

}

h1{
    margin: 0;
    font-size: 50px;
    text-wrap: balance;
    
}

/* -- NAV -- */

.nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}


.nav__ul {
    margin: 0;
    display: flex;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: rgb(70, 152, 146);
    text-decoration: none;
    display: inline-block;
    padding: 13px;
    text-align: center;
}

.nav__link:hover{
    background-color: hsla(176, 37%, 44%, 0.376);
}

.nav__logo{
    width: 40px;
    border-radius: 50%;
}

